.container-fluid #main {
    margin-top: -20% !important;
}

.about-academy .col-lg-8.col-md-8.col-sm-8.col-xs-12 {
    padding: 0px;
}

.academy-text {
    width: 80%;
    margin-left: 5%;
}

@media screen and (min-width: 900px) {
    .volleyball {
        position: absolute;
        margin-top: 3%;
        left: 0;
        margin-left: 4%;
        width: 40%;
    }
    .img-background {
        width: 25vw;
    }
    .academy-text p {
        width: 80%;
        margin-left: 10%;
    }
    .academy-text button {
        margin-left: 10%;
    }
}

/**for screen less than 768px */
@media screen and (max-width: 768px) {
    div#jssor_1 {
        margin-top: 7% !important;
    }
    .col-lg-4.col-md-4.col-sm-4.col-xs-12.blogpost {
        margin-top: 7% !important;
    }
    .events .card {
        width: 50%;
    }
    .events .event-3 {
        display: none;
    }

    .blog-post img {
        width: 50%;
        height: 50%;
    }

    .blog-aside .post-3 {
        display: none;
    }

    .row .service-3 .card {
        display: none;
    }

    .row .service-4 .card {
        display: none;
    }

    img.volleyball {
        margin-left: 3%;
        position: absolute;
        margin-top: 4%;
        width: 50%;
        left: 0;
    }

    .about-academy img {
        max-width: 100%;
        /* position: relative; */
    }
    .abt {
        padding: 0px;
        margin: 0px;
        max-width: 50%;
        height: 50%;
    }

    .academy-text {
        width: 80%;
        margin-left: -7%;
    }

    .academy-text .btn {
        margin-left: 22%;
    }

    .academy-text p {
        margin-left: 25%;
    }

    .academy-text h1 {
        text-align: center;
    }
    .container-fluid h1 {
        font-size: 1.5rem;
        margin-top: 7%;
        margin-bottom: 2%;
    }

    .card {
        max-width: 100%;
        padding: 1%;
    }

    .new-event img {
        width: 100%;
    }
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
    background: #fff;
    padding: 60px 0;
}

.team .member {
    text-align: center;
    margin-bottom: 20px;
    background: #343a40;
    position: relative;
    overflow: hidden;
}

.team .member .member-info {
    opacity: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
}

.team .member .member-info-content {
    position: absolute;
    left: 50px;
    right: 0;
    bottom: 0;
    transition: bottom 0.4s;
}

.team .member .member-info-content h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
}

.team .member .member-info-content span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff;
}

.team .member .social {
    position: absolute;
    left: -50px;
    top: 0;
    bottom: 0;
    width: 50px;
    transition: left ease-in-out 0.3s;
    background: rgba(78, 64, 57, 0.6);
    text-align: center;
}

.team .member .social a {
    transition: color 0.3s;
    display: block;
    color: #fff;
    margin-top: 15px;
}

.team .member .social a:hover {
    color: #eb5d1e;
}

.team .member .social i {
    font-size: 18px;
    margin: 0 2px;
}

.team .member:hover .member-info {
    background: linear-gradient(
        0deg,
        rgba(78, 64, 57, 0.95) 0%,
        rgba(78, 64, 57, 0.95) 15%,
        rgba(255, 255, 255, 0) 100%
    );
    opacity: 1;
    transition: 0.4s;
}

.team .member:hover .member-info-content {
    bottom: 30px;
    transition: bottom 0.4s;
}

.team .member:hover .social {
    left: 0;
    transition: left ease-in-out 0.3s;
}

.member .img-fluid {
    height: 180px !important;
}
