.container-fluid #main {
    margin-top: -20% !important;
}

.about-academy .col-lg-8.col-md-8.col-sm-8.col-xs-12 {
    padding: 0px;
}

.academy-text {
    width: 80%;
    margin-left: 5%;
}

@media screen and (min-width: 900px) {
    .volleyball {
        position: absolute;
        margin-top: 3%;
        left: 0;
        margin-left: 4%;
        width: 40%;
    }
    .img-background {
        width: 25vw;
    }
    .academy-text p {
        width: 80%;
        margin-left: 10%;
    }
    .academy-text button {
        margin-left: 10%;
    }
}

/**for screen less than 768px */
@media screen and (max-width: 768px) {
    div#jssor_1 {
        margin-top: 7% !important;
    }
    .col-lg-4.col-md-4.col-sm-4.col-xs-12.blogpost {
        margin-top: 7% !important;
    }
    .events .card {
        width: 50%;
    }
    .events .event-3 {
        display: none;
    }

    .blog-post img {
        width: 50%;
        height: 50%;
    }

    .blog-aside .post-3 {
        display: none;
    }

    .row .service-3 .card {
        display: none;
    }

    .row .service-4 .card {
        display: none;
    }

    img.volleyball {
        margin-left: 3%;
        position: absolute;
        margin-top: 4%;
        width: 50%;
        left: 0;
    }

    .about-academy img {
        max-width: 100%;
        /* position: relative; */
    }
    .abt {
        padding: 0px;
        margin: 0px;
        max-width: 50%;
        height: 50%;
    }

    .academy-text {
        width: 80%;
        margin-left: -7%;
    }

    .academy-text .btn {
        margin-left: 22%;
    }

    .academy-text p {
        margin-left: 25%;
    }

    .academy-text h1 {
        text-align: center;
    }
    .container-fluid h1 {
        font-size: 1.5rem;
        margin-top: 7%;
        margin-bottom: 2%;
    }

    .card {
        max-width: 100%;
        padding: 1%;
    }

    .new-event img {
        width: 100%;
    }
}
